/* CSS */
.top-header{
    /* position: relative; */
    z-index: 1000;
}
.menu {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 999;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Thêm đổ bóng nếu cần */
}

.menu-title {
    margin: 0;
}

.navbar {
    margin-bottom: 0; /* Loại bỏ khoảng cách dư thừa */
}

/* Tùy chỉnh hiển thị menu trên màn hình nhỏ */
@media (max-width: 767px) {
    .navbar-toggle {
        margin: 8px 15px 8px 0;
    }

    .menu-title {
        text-align: center;
        margin-bottom: 10px;
    }
}
