
   
  .star {
    font-size: 4vh;
    cursor: pointer;
  }
  .starrating {
    
    color: rgb(255, 255, 0);
  }

 
   
  .one {
    color: rgb(255, 0, 0);
  }
   
  .two {
    color: rgb(255, 106, 0);
  }
   
  .three {
    color: rgb(251, 255, 120);
  }
   
  .four {
    color: rgb(255, 255, 0);
  }
   
  .five {
    color: rgb(255, 255, 0);
  }
 